.headerSection{
    width: 100%;
    height: 50px;
    background-color: rgb(187, 204, 153);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5px;
    position: sticky;
    top: 0;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.inputSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.productOptions{
    border: 1px solid rgb(197, 197, 197);
    padding: 5px;
    height: fit-content;
    width: 100%;
    display: grid;
    gap: 3px;
    border-radius: 3px;
    margin: 3px 0;
}
.addProductForm{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(133, 133, 133);
}
.productCategorySelect{
    min-width: 150px;
}
.inputSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.submitButton{
    
}
.deleteSection{
    position: relative;
    min-height: 220px;
    background-color: #d1d6cc;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px
}
.deleteButton{
    text-align: center;
    cursor: pointer;
}
.editButton{
    cursor: pointer;
}
.addProductForm{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(133, 133, 133);
}
.productCategorySelect{
    min-width: 150px;
}
.inputSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.submitButton{
    
}
.productGrid{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, 180px);
    gap: 8px;
    margin: 2px 0;
}
.product{
    display: grid;
    border: 1px solid rgb(189, 188, 188);
    background-color: rgb(240, 236, 232);
    align-items: flex-start;
    justify-content: center;
    grid-template-rows: 145px;
    grid-template-columns: 1fr;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    min-height: 190px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.actions{
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
}
.productDetails{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #000;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 0 0 3px 3px;
    backdrop-filter: blur(10px);
    padding: 0 5px;
}
.productName{
    margin: 2px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.productName h4{
    margin: 0;
    padding: 5px;
}
.prodImg{
    max-width: 100%;
}
.prodSquare{
    width: 100%;
}
.priceSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.priceMRP{
    text-decoration: line-through;
    color: rgb(128, 128, 128);
    font-size: 0.8em;
}
.priceSelling{
    color: #000;
    font-weight: 600;
}
.productDetailsContainer{
    margin: 3px;
    border: 1px solid rgb(223, 223, 223);
    padding: 5px;
    display: grid;
    gap: 5px;
}
.featureName{
    display: flex;
    align-items: center;
    margin: 3px;
    gap: 5px;
}
.productTitle h4{
    margin: 5px;
}
.featureValue{
    border: 1px solid rgb(206, 206, 206);
    padding: 3px;
    border-radius: 3px;
    background-color: rgb(226, 241, 255);
}
.productOptionsContainer{
    border: 1px solid rgb(216, 216, 216);
    max-height: 85vh;
    position: sticky;
    top: 0;
    overflow: auto;
}
.centerAligned{
    display: flex;
    justify-content: center;
    align-items: center;
}